{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Submission list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Type</th>
                <th>Is Viewed?</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('submission_show', { 'id': entity.id }) }}">{{ entity.type }}</a></td>
                    <td>{{ entity.isViewed }}</td>
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.id }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('submission_show', { 'id': entity.id }) }}">show</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
