{% extends '::base.html.twig' %}

{% form_theme form 'TenelevenFormHandlerBundle:Submission:fields.html.twig' %}

{% block body -%}
    <h1>Submission</h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Is Viewed</th>
            <th>Created At</th>
        </tr>
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.type }}</td>
            <td>{{ entity.isViewed }}</td>
            <td>{{ entity.createdAt|date('M d, Y h:m:s') }}</td>
        </tr>
    </table>

    <table class="table">
        {{ form(form) }}
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('submission') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
